h1{
  font-family: fantasy, impact;
  font-weight: bold;
  font-style: italic;
}

p{
  font-family:fantasy, impact;
  font-weight: lighter;
  font-style: italic;
  font-size: 100px;
}

body{
  background-color: green;
}

head{
  background-color: blue;
}
